{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
    card: {
      title: {
        text: "Site details"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change"
          }
        ]
      } if not params.isReadOnly,
      attributes: {
        id: "site-details-card"
      }
    },
    rows: [
      {
        key: {
          text: "Method of providing site location"
        },
        value: {
          html: params.siteDetails.method
        }
      },
      {
        key: {
          text: "File type"
        },
        value: {
          html: params.siteDetails.fileType
        }
      },
      {
        key: {
          text: "File uploaded"
        },
        value: {
          html: params.siteDetails.filename
        }
      },
      {
        key: {
          text: "Map view"
        },
        value: {
          html: '<div class="app-site-details-map" data-module="site-details-map"></div>'
        }
      }
    ]
  }) }}
