{%- from "govuk/components/table/macro.njk" import govukTable -%}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}

{% extends "layouts/page.njk" %}

{% set bodyClasses = "govuk-wide-template" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ mojPageHeaderActions({
        heading: {
          text: heading,
          classes: 'govuk-heading-l'
        },
        items: [{
          text: "Create new project",
          classes: "govuk-button--secondary",
          href: 'https://marinelicensing.marinemanagement.org.uk/mmofox5/journey/self-service/start'
        }]
      }) }}

      {% if projects and projects.length > 0 %}

        {{ govukTable({
          caption: "Your projects",
          captionClasses: "govuk-visually-hidden",
          head: [
            {
              text: "Name",
              attributes: {
                "aria-sort": "none"
              }
            },
            {
              text: "Type",
              attributes: {
                "aria-sort": "none"
              }
            },
            {
              text: "Reference",
              attributes: {
                "aria-sort": "none"
              }
            },
            {
              text: "Status",
              attributes: {
                "aria-sort": "none"
              }
            },
            {
              text: "Date submitted",
              attributes: {
                "aria-sort": "none"
              }
            },
            {
              text: "Actions",
              attributes: {
                "aria-sort": "none"
              }
            }
          ],
          rows: projects
        }) }}
      {% else %}
        <p class="govuk-body">
          You currently have no projects.
        </p>
      {% endif %}
    </div>
  </div>
{% endblock %}
