{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "incomplete-field/macro.njk" import appIncompleteField %}

{% set siteRequiresConstructionDrawing = false %}

{% for activityDetails in params.activityDetails %}
  {% if activityDetails.requiresConstructionDrawing %}
    {% set siteRequiresConstructionDrawing = true %}
  {% endif %}
{% endfor %}

{% if siteRequiresConstructionDrawing %}
  {% set constructionDrawings = params.constructionDrawings or [] %}
  {% set drawingCount = constructionDrawings.length if constructionDrawings.length > 1 else 1 %}

  {% for drawingIndex in range(0, drawingCount) %}
    {% set drawing = constructionDrawings[drawingIndex] or {} %}
    {% set drawingNumber = drawingIndex + 1 %}

    {% set drawingRows = [{
      key: { text: "File upload" },
      value: { html: appIncompleteField({ text: drawing.filename }) },
      actions: setSiteDetailsAction(drawing.filename, 'upload-construction-drawing', params.siteNumber, "", { drawingNumber: drawingNumber })
    }] %}

    {% set deleteActionItems = [{
      href: "delete-construction-drawing?site=" + params.siteNumber + "&drawing=" + drawingNumber,
      text: "Delete file upload",
      classes: "govuk-link--no-visited-state"
    }] if drawingIndex > 0 else [] %}

    {{ govukSummaryList({
      card: {
        attributes: {
          id: "construction-drawing-site-" + params.siteNumber + "-" + drawingNumber
        },
        title: {
          text: "Site " + params.siteNumber + " - Construction drawing " + drawingNumber
        },
        actions: {
          items: deleteActionItems
        }
      },
      classes: "govuk-summary-list--full-width",
      rows: drawingRows
    }) }}
  {% endfor %}

  <form method="POST">
    <input type="hidden" name="csrfToken" value="{{ params.csrfToken }}">
    <input type="hidden" name="siteNumber" value="{{ params.siteNumber }}">

    <div class="govuk-!-margin-bottom-6">
      {{ govukButton({
        text: "Add another construction drawing for site " + params.siteNumber,
        classes: "govuk-button--secondary",
        attributes: {
          id: 'add-another-construction-drawing-site-' + params.siteNumber,
          name: "addConstructionDrawing",
          value: "addConstructionDrawing",
          type: "submit"
        }
      }) }}
    </div>
  </form>
{% endif %}
