{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set multipleSitesText = params.siteLocationData.multipleSiteDetails %}

{% set rows = [
  {
    key: {
      text: "Method of providing site location"
    },
    value: {
      text: params.siteLocationData.method
    }
  },
  {
    key: {
      text: "More than one site"
    },
    value: {
      text: multipleSitesText
    }
  }
] %}

{{ govukSummaryList({
  card: {
    title: {
      text: "Providing the site location"
    },
    actions: {
      items: [
        {
          href: params.changeLink,
          text: "Change",
          classes: 'govuk-link--no-visited-state'
        }
      ]
    } if not params.isReadOnly,
    attributes: {
      id: "site-location-card"
    }
  },
  rows: rows
}) }}


