{% extends 'layouts/page.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "cancel-button/macro.njk" import appCancelButton %}

{% block beforeContent %}
{{ super() }}
<nav>
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
</nav>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% if errors %}
          {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: errorSummary
          }) }}
        {% endif %}

        <span class="govuk-caption-l">{{ projectName }}</span>

        <h1 class="govuk-heading-l">Sharing your project information publicly</h1>

        <p class="govuk-body">The Marine Management Organisation (MMO) publishes some of the information you provide on <a class="govuk-link" href="https://www.gov.uk/guidance/explore-marine-plans" target="_blank" rel="noopener noreferrer">Explore Marine Plans (opens in new tab)</a>. In the future, we may also publish this information on the MMO's public register.</p>

        <p class="govuk-body">Sharing this information helps you and other applicants:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>get a clear picture of activity in the marine environment</li>
          <li>prepare applications more effectively by avoiding conflicts with existing marine activity</li>
          <li>evaluate the environmental impact of projects in the context of other marine activity, leading to better applications and evidence for decision-makers</li>
        </ul>

        <p class="govuk-body">We will not publish contact details, such as your email address, phone number or postal address, or any financial information.</p>

        <form method="POST">

          <input type="hidden" name="csrfToken" value="{{csrfToken}}" />

          {% set noHtml %}
            {{ govukTextarea({
              id: "reason",
              name: "reason",
              label: {
                text: "Provide details of why you do not consent to your project information being published"
              },
              errorMessage: errors['reason'],
              value: payload.reason
            }) }}
          {% endset -%}

          {{ govukRadios({
            name: "consent",
            value: payload.consent,
            errorMessage: errors['consent'],
            idPrefix: "consent",
            fieldset: {
              legend: {
                text: "Do you consent to the MMO publishing your project information publicly?",
                classes: "govuk-fieldset__legend govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No",
                conditional: {
                  html: noHtml
                }
              }
            ]
          }) }}

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Save and continue",
              classes: "govuk-button--primary"
            }) }}

            {{ appCancelButton({
                cancelLink: backLink
            }) }}
          </div>
        </form>

    </div>
  </div>

{% endblock %}
