{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{%- from "govuk/components/radios/macro.njk" import govukRadios -%}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
{% from "filter-panel/macro.njk" import appFilterPanel %}

{% extends "layouts/page.njk" %}

{% set bodyClasses = "govuk-wide-template" %}

{%- set userChoiceHtml %}
  {{ govukCheckboxes({
    idPrefix: "user",
    name: "user",
    classes: "govuk-checkboxes--small",
    items: userOptions
  }) }}
{% endset -%}

{%- set filterOptionsHtml %}
  {% if isEmployee %}

    {{ govukRadios({
      name: "show",
      classes: "govuk-radios--small",
      fieldset: {
        legend: {
          text: "Show",
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: "all-projects",
          text: "All " + organisationName + " submissions",
          checked: searchParams.show == "all-projects"
        },
        {
          value: "my-projects",
          text: "My submissions",
          checked: searchParams.show == "my-projects" or not searchParams.show
        },
        {
          value: "specific-user",
          text: "Submissions by owner",
          checked: searchParams.show == "specific-user",
          conditional: {
            html: userChoiceHtml
          }
        } if showSpecificUser
      ]
    }) }}
    
    {% if marineLicenceEnabled %}
      {{ govukCheckboxes({
        idPrefix: "type",
        name: "type",
        classes: "govuk-checkboxes--small",
        fieldset: {
          legend: {
            text: "Submission type",
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: typeOptions
      }) }}
    {% endif %}

  {{ govukCheckboxes({
    idPrefix: "status",
    name: "status",
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: {
        text: "Status",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: statusOptions
    }) }} 

  {% endif -%}
{% endset -%}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ mojPageHeaderActions({
        heading: {
          html: '<span class="govuk-caption-l">' + (organisationName | e) + '</span>' + (heading | e),
          classes: 'govuk-heading-l'
        }
      }) }}

    {% if isEmployee %}
      <div class="moj-filter-layout">
          <form method="post" class="app-filter-form" novalidate>

          <input type="hidden" name="csrfToken" value="{{csrfToken}}" />

          {{ appFilterPanel({
            selectedFilters: {

              heading: {
                text: "Selected filters"
              },

              clearLink: {
                text: "Clear filters",
                href: clearHref
              },

              categories: filterCategories
            },
            optionsHtml: filterOptionsHtml
          }) }}

          </form>

        <div class="moj-filter-layout__content">

        <div class="moj-action-bar">
          <div class="moj-action-bar__filter"></div>
        </div>
    {% endif %}

    <div class="govuk-visually-hidden" aria-live="polite" role="status" id="app-project-results-status"></div>

    <div id="app-project-results">
      {% include "dashboard/partials/results.njk" %}
    </div>

    {% if isEmployee %}
      </div>
   </div>
   {% endif %}

    </div>
  </div>


{% endblock %}
