{% extends 'layouts/page.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "marine-licence/project-details-card/macro.njk" import appMarineLicenceProjectDetailsCard %}
{% from "marine-licence/site-location-card/macro.njk" import appMarineLicenceSiteLocationCard %}
{% from "marine-licence/site-details-card/macro.njk" import appMarineLicenceSiteDetailsCard %}
{% from "marine-licence/activity-details-card/macro.njk" import appMarineLicenceActivityDetailsCard %}
{% from "marine-licence/fee-estimate-card/macro.njk" import appMarineLicenceFeeEstimateCard %}
{% from "marine-licence/other-permissions-card/macro.njk" import appMarineLicenceOtherPermissionsCard %}
{% from "marine-licence/water-framework-directive-card/macro.njk" import appMarineLicenceWaterFrameworkDirectiveCard %}
{% from "marine-licence/marine-plan-policies-card/macro.njk" import appMarineLicenceMarinePlanPoliciesCard %}
{% from "marine-licence/invoicing-card/macro.njk" import appMarineLicenceInvoicingCard %}
{% from "public-register-card/macro.njk" import appPublicRegisterCard %}

{% block head %}
  {{ super() }}
{% endblock %}
{% block beforeContent %}
  {{ super() }}
  <nav>
    {{ govukBackLink({
        text: "Go back to your project",
        href: backLink
    }) }}
  </nav>
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if projectName %}
        <span class="govuk-caption-l">{{ projectName }}</span>
      {% endif %}

      <h2 class="govuk-heading-l" id="check-your-answers-heading">Check your answers before sending your information</h2>

      {{ appMarineLicenceProjectDetailsCard({
        projectName: projectName,
        projectBackground: projectBackground,
        preferredDates: preferredDates
      }) }}

      {% if summaryData and summaryData.length %}
        {{ appMarineLicenceSiteLocationCard({
          coordinatesType: coordinatesType,
          changeLink: reviewSiteDetailsRoute + "?from=check-your-answers"
        }) }}

        {% for site in summaryData %}
          {{ appMarineLicenceSiteDetailsCard({
            site: site,
            loopIndex0: loop.index0,
            coordinatesType: coordinatesType,
            changeLink: reviewSiteDetailsRoute + "?from=check-your-answers#site-details-" + site.siteNumber,
            cspNonce: cspNonce
          }) }}

          {% for activityDetails in site.activityDetails %}
            {{ appMarineLicenceActivityDetailsCard({
              activityDetails: activityDetails,
              siteNumber: site.siteNumber,
              index: loop.index,
              changeLink: reviewSiteDetailsRoute + "?from=check-your-answers#activity-details-site-" + site.siteNumber + "-activity-" + loop.index
            }) }}
          {% endfor %}
        {% endfor %}
      {% endif %}

      {{ appMarineLicenceMarinePlanPoliciesCard({
        policies: marinePlanPolicies
      }) }}

      {{ appMarineLicenceWaterFrameworkDirectiveCard({
        waterFrameworkDirectiveData: waterFrameworkDirectiveData,
        changeLink: waterFrameworkDirectiveChangeLink,
        isReadOnly: isReadOnly
      }) }}

       {{ appMarineLicenceOtherPermissionsCard({
        specialLegalPowers: specialLegalPowers,
        harbourAuthority: harbourAuthority,
        otherAuthorities: otherAuthorities,
        publicConsultation: publicConsultation,
        isReadOnly: isReadOnly
      }) }}

      {{ appMarineLicenceFeeEstimateCard({
        changeLink: feeEstimateChangeLink,
        amount: amount,
        monitoringAmount: monitoringAmount,
        isReadOnly: isReadOnly
      }) }}

      {{ appMarineLicenceInvoicingCard({
        invoicingData: invoicingData,
        changeLink: invoicingChangeLink,
        isReadOnly: isReadOnly
      }) }}

      {{ appPublicRegisterCard({
        publicRegister: publicRegister,
        isReadOnly: isReadOnly,
        changeLink: publicRegisterRoute
      }) }}

      <form method="post">
        <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>
        {{ govukButton({
          text: "Continue",
          attributes: {
            id: "continue"
          }
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
