<h2 class="govuk-heading-m govuk-!-margin-bottom-1">Phone</h2>
<p class="govuk-body">0191 376 2791</p>

<h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-1">Email</h2>
<p class="govuk-body">
  <a href="mailto:marine.consents@marinemanagement.org.uk" class="govuk-link">marine.consents@marinemanagement.org.uk</a>
</p>

<h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-1">Opening times</h2>
<p class="govuk-body govuk-!-margin-bottom-1">Monday to Thursday: 9am to 4:30pm</p>
<p class="govuk-body govuk-!-margin-bottom-0">Friday: 9am to 4pm</p>
