{% extends 'layouts/page.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "marine-licence/other-permissions-card/macro.njk" import appMarineLicenceOtherPermissionsCard %}
{% from "marine-licence/application-details-card/macro.njk" import appMarineLicenceApplicationDetailsCard %}
{% from "marine-licence/project-details-card/macro.njk" import appMarineLicenceProjectDetailsCard %}
{% from "marine-licence/site-location-card/macro.njk" import appMarineLicenceSiteLocationCard %}
{% from "marine-licence/site-details-card/macro.njk" import appMarineLicenceSiteDetailsCard %}
{% from "marine-licence/activity-details-card/macro.njk" import appMarineLicenceActivityDetailsCard %}
{% from "marine-licence/water-framework-directive-card/macro.njk" import appMarineLicenceWaterFrameworkDirectiveCard %}
{% from "marine-licence/marine-plan-policies-card/macro.njk" import appMarineLicenceMarinePlanPoliciesCard %}
{% from "marine-licence/invoicing-card/macro.njk" import appMarineLicenceInvoicingCard %}
{% from "public-register-card/macro.njk" import appPublicRegisterCard %}

{% block beforeContent %}
  {{ super() }}
  {% if backLink %}
  <nav>
    {{ govukBackLink({
      text: "Back",
      href: backLink
    }) }}
  </nav>
  {% endif %}
{% endblock %}

{% set rejectedReasonsOutput %}

  {% if rejectedReasons %}
    <ul class="govuk-list govuk-list--bullet">
    {% for reason in rejectedReasons %}
      <li>{{reason}}</li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if rejectedInformation %}
    <p class="govuk-body">{{ rejectedInformation }}</p>
  {% endif %}

{% endset %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% if pageCaption %}
        <span class="govuk-caption-l">{{ pageCaption }}</span>
      {% endif %}
      <h1 class="govuk-heading-l" id="view-details-heading">{{ pageTitle }}</h1>

      {% if showApplicationDetailsCard %}
        {{ appMarineLicenceApplicationDetailsCard({
          statusTag: statusTag,
          isTransferred: isTransferred,
          isRejected: isRejected,
          applicationReference: applicationReference,
          rejectedDate: rejectedDate,
          rejectedReasons: rejectedReasonsOutput,
          transferredDate: transferredDate,
          withdrawnAt: withdrawnAt,
          submittedAt: submittedAt
        }) }}
      {% endif %}

      {{ appMarineLicenceProjectDetailsCard({
        projectName: projectName,
        projectBackground: projectBackground,
        isReadOnly: isReadOnly,
        preferredDates: preferredDates
      }) }}

      {% if summaryData and summaryData.length %}
        {{ appMarineLicenceSiteLocationCard({
          coordinatesType: coordinatesType
        }) }}

        {% for site in summaryData %}
          {{ appMarineLicenceSiteDetailsCard({
            site: site,
            loopIndex0: loop.index0,
            coordinatesType: coordinatesType,
            cspNonce: cspNonce
          }) }}

          {% for activityDetails in site.activityDetails %}
            {{ appMarineLicenceActivityDetailsCard({
              activityDetails: activityDetails,
              siteNumber: site.siteNumber,
              index: loop.index,
              isReadOnly: true
            }) }}
          {% endfor %}
        {% endfor %}
      {% endif %}

      {% if isInternalUserView %}
        {{ appMarineLicenceSiteDetailsCard({
          isInternalUserView: isInternalUserView,
          marineLicenceId: marineLicenceId
        }) }}
      {% endif %}

      {{ appMarineLicenceMarinePlanPoliciesCard({
        policies: marinePlanPolicies,
        isReadOnly: true
      }) }}

      {{ appMarineLicenceWaterFrameworkDirectiveCard({
        waterFrameworkDirectiveData: waterFrameworkDirectiveData,
        isReadOnly: isReadOnly
      }) }}

      {{ appMarineLicenceOtherPermissionsCard({
        specialLegalPowers: specialLegalPowers,
        harbourAuthority: harbourAuthority,
        otherAuthorities: otherAuthorities,
        publicConsultation: publicConsultation,
        isReadOnly: isReadOnly
      }) }}

      {{ appMarineLicenceInvoicingCard({
        invoicingData: invoicingData,
        changeLink: invoicingChangeLink,
        isReadOnly: isReadOnly
      }) }}

      {{ appPublicRegisterCard({
        publicRegister: publicRegister,
        isReadOnly: isReadOnly
      }) }}
      
    </div>
  </div>
{% endblock %}
