{% extends 'layouts/page.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "radio-page/macro.njk" import appRadioPage %}

{% block beforeContent %}
<nav>
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
</nav>
{% endblock %}

{% block content %}

  {{ appRadioPage({
      name: "multipleSitesEnabled",
      errorSummary: errorSummary,
      errors: errors,
      errorMessage: errors['multipleSitesEnabled'],
      heading: heading,
      isPageHeading: true,
      value: payload.multipleSitesEnabled,
      projectName: projectName,
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no", 
          text: "No"
        }
      ],
      csrfToken: csrfToken,
      cancelLink: "/exemption/task-list?cancel=site-details"
    })
  }}

{% endblock %} 