{% extends 'layouts/page.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "site-details-map/macro.njk" import appSiteDetailsMap %}
{% from "incomplete-field/macro.njk" import appIncompleteField %}
{% from "incomplete-fields-warning/macro.njk" import appIncompleteFieldsWarning %}
{% from "marine-licence/activity-details-card/macro.njk" import appMarineLicenceActivityDetailsCard %}
{% from "finished-site-details-question/macro.njk" import appFinishedSiteDetailsQuestion %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block beforeContent %}
  {{ super() }}
<nav>
  {{ govukBackLink({
  text: "Back",
  href: backLink
}) }}
</nav>
{% endblock %}

  {% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <span class="govuk-caption-l">{{ projectName }}</span>
        <h1 class="govuk-heading-l">Review site details</h1>

            {% if errorSummary %}
              {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: errorSummary
              }) }}
            {% endif %}

            {% if hasIncompleteFields %}
              {{ appIncompleteFieldsWarning() }}
            {% endif %}

            {% set multipleSiteRows = [
                {
                    key: {
                      text: "Method of providing site location"
                    },
                    value: {
                      text: 'File upload'
                    }
                }
            ] %}

            {{ govukSummaryList({
                card: {
                  title: {
                    text: "Providing the site location"
                  },
                  actions: {
                    items: [{
                      href: "delete-all-sites",
                      text: "Delete all site details",
                      classes: "govuk-link--no-visited-state"
                    }]
                  },
                  attributes: {
                    id: "site-location-card"
                  }
                },
                rows: multipleSiteRows
            }) }}

        {% for site in summaryData %}

          {% set summaryRowsHeading %}
            Site {{ site.siteNumber }}
          {% endset %}

          {% set rows = [] %}

          {% set _ = rows.push({
            key: { text: "Site name"},
            value: { html: appIncompleteField({text: site.siteName})},
            actions: setSiteDetailsAction(site.siteName, 'site-name', site.siteNumber, "", { skipAction: true })
          }) %}

          {% set _ = rows.push({
            key: { text: "Map view" },
            value: { html: appSiteDetailsMap(site.siteDetailsData, loop.index0), classes: "govuk-summary-list__value--full-width" }
          }) %}

          {{ govukSummaryList({
            card: {
              attributes: {
                id: "site-details-" + site.siteNumber
              },
              title: {
                text: summaryRowsHeading
              },
              actions: {
                items: [
                  {
                      href: "change-site-location?site=" + site.siteNumber,
                      text: "Change site location",
                      classes: "govuk-link--no-visited-state"
                  }
                ]
              }
            },
            classes: 'govuk-summary-list--full-width',
            rows: rows
        }) }}

          {% for activityDetails in site.activityDetails %}

            {{ appMarineLicenceActivityDetailsCard({
              activityDetails: activityDetails,
              siteNumber: site.siteNumber,
              index: loop.index,
              deleteLink: activityDetails.deleteLink
            }) }}

          {% endfor %}


        <form method="POST">
          <input type="hidden" name="csrfToken" value="{{ csrfToken }}">
          <input type="hidden" name="siteNumber" value="{{ site.siteNumber }}">

          <div class="govuk-!-margin-bottom-6">
            {{ govukButton({
              text: "Add another activity for site " + site.siteNumber,
              classes: "govuk-button--secondary",
              attributes: {
                id: 'add-another-activity-site-' + site.siteNumber,
                name: "addActivity",
                value: "addActivity",
                type: "submit"
              }
            }) }}
          </div>

          </form>

        {% endfor %}

        <form method="POST">
          <input type="hidden" name="csrfToken" value="{{ csrfToken }}">

            {% if showMarinePlanPoliciesQuestion %}
              {{ appFinishedSiteDetailsQuestion({ errors: errors }) }}
            {% endif %}

            <div class="govuk-button-group">
              {{ govukButton({
                text: "Continue",
                attributes: {
                  id: "continue"
                }
              }) }}
            </div>
          </form>
        </div>
      </div>
    {% endblock %}
