{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "incomplete-field/macro.njk" import appIncompleteField %}
{% from "marine-licence/redaction-field/macro.njk" import appMarineLicenceRedactionField %}

{% set rows = [] %}

{#
  Activity fields have `index` and the `activityIndex` within that site.
#}
{% macro activityValue(params, field, label, text) %}
  {%- if params.enableRedaction -%}
    {% set redaction = params.redactions.siteDetails[params.siteIndex0].activityDetails[params.activityIndex0][field] %}
    {{ appMarineLicenceRedactionField({
      fieldId: field + "-" + params.siteIndex0 + "-" + params.activityIndex0,
      marineLicenceId: params.marineLicenceId,
      fieldKey: "siteDetails.activityDetails." + field,
      index: params.siteIndex0,
      activityIndex: params.activityIndex0,
      label: "site " + params.siteNumber + " activity " + params.index + " " + label,
      originalText: text,
      redaction: redaction,
      isRedacted: redaction,
      saveUrl: params.redactionSaveUrl,
      csrfToken: params.csrfToken
    }) }}
  {%- else -%}
    {{ appIncompleteField({ text: text }) }}
  {%- endif -%}
{% endmacro %}

{% set valueClasses = "govuk-summary-list__value--full-width" if params.enableRedaction %}

{% set activityRowsHeading %}
  Site {{ params.siteNumber }} - Activity {{ params.index }}
{% endset %}

{% set _ = rows.push({
    key: { text: "Type of activity"},
    value: { html: activityValue(params, "activitySubType", "type of activity", params.activityDetails.activitySubType), classes: valueClasses },
    actions: setSiteDetailsAction(params.activityDetails.activitySubType, 'type-of-activity', params.siteNumber, "", { skipAction: true, activityNumber: params.index }) if not params.changeLink and not params.isReadOnly
}) %}

{% set activityHeadingText = params.activityDetails.activityHeadingExternalUser if params.isApplicant === false else params.activityDetails.activityHeading %}

{% if activityHeadingText %}

  {% set activityList %}
    <ul class="govuk-list govuk-list--bullet">
      {% for activity in params.activityDetails.activities %}
        <li>{{activity}}</li>
      {% endfor %}
    </ul>
  {% endset %}

  {# The whole bulleted list is redacted as one field, so it is joined into a single value. #}
  {% set _ = rows.push({
      key: { text: activityHeadingText },
      value: {
        html: activityValue(params, "activities", activityHeadingText | lower, params.activityDetails.activities | join(", ")) if params.enableRedaction else activityList,
        classes: valueClasses
      },
      actions: setSiteDetailsAction(true,  params.activityDetails.activityLink, params.siteNumber, "", { activityNumber: params.index }) if not params.changeLink and not params.isReadOnly
  }) %}
{% endif %}

{% set _ = rows.push({
    key: { text: "Activity description"},
    value: { html: activityValue(params, "activityDescription", "activity description", params.activityDetails.activityDescription), classes: valueClasses },
    actions: setSiteDetailsAction(params.activityDetails.activityDescription, 'activity-description', params.siteNumber, "", { skipAction: true, activityNumber: params.index }) if not params.changeLink and not params.isReadOnly
}) %}

{% set _ = rows.push({
    key: { text: "Maximum duration of activity"},
    value: { html: activityValue(params, "activityDuration", "maximum duration of activity", params.activityDetails.activityDuration), classes: valueClasses },
    actions: setSiteDetailsAction(params.activityDetails.activityDuration, 'activity-duration', params.siteNumber, "", { skipAction: true, activityNumber: params.index }) if not params.changeLink and not params.isReadOnly
}) %}

{% set _ = rows.push({
    key: { text: "Completion date"},
    value: { html: activityValue(params, "completionDate", "completion date", params.activityDetails.completionDate), classes: valueClasses },
    actions: setSiteDetailsAction(params.activityDetails.completionDate, 'completion-date', params.siteNumber, "", { skipAction: true, activityNumber: params.index }) if not params.changeLink and not params.isReadOnly
}) %}

{% set _ = rows.push({
    key: { text: "Activity limited to specific months"},
    value: { html: activityValue(params, "activityMonths", "months the activity is limited to", params.activityDetails.activityMonths), classes: valueClasses },
    actions: setSiteDetailsAction(params.activityDetails.activityMonths, 'months-of-activity', params.siteNumber, "", { skipAction: true, activityNumber: params.index }) if not params.changeLink and not params.isReadOnly
}) %}

{% set _ = rows.push({
    key: { text: "Proposed working hours"},
    value: { html: activityValue(params, "workingHours", "proposed working hours", params.activityDetails.workingHours), classes: valueClasses },
    actions: setSiteDetailsAction(params.activityDetails.workingHours, 'working-hours', params.siteNumber, "", { skipAction: true, activityNumber: params.index }) if not params.changeLink and not params.isReadOnly
}) %}


{% set cardActionItems = [] %}

{% if params.changeLink %}
  {% set _ = cardActionItems.push({
    href: params.changeLink,
    text: 'Change',
    visuallyHiddenText: 'site ' + params.siteNumber + ' activity ' + params.index + ' details',
    classes: 'govuk-link--no-visited-state'
  }) %}
{% endif %}

{% if params.deleteLink %}
  {% set _ = cardActionItems.push({
    href: params.deleteLink,
    text: 'Delete activity',
    classes: 'govuk-link--no-visited-state'
  }) %}
{% endif %}

{{ govukSummaryList({
  card: {
    attributes: {
      id: "activity-details-site-" + params.siteNumber + '-activity-' + params.index
    },
    title: {
      text: activityRowsHeading
    },
    actions: {
      items: cardActionItems
    }
  },
  classes: 'govuk-summary-list--full-width',
  rows: rows
}) }}