{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "incomplete-field/macro.njk" import appIncompleteField %}

{% set rows = [] %}

{% set activityRowsHeading %}
  Site {{ params.siteNumber }} - Activity {{ params.index }}
{% endset %}

{% set _ = rows.push({
    key: { text: "Type of activity"},
    value: { html: appIncompleteField({text:params.activityDetails.activitySubType})},
    actions: setSiteDetailsAction(params.activityDetails.activitySubType, 'type-of-activity', params.siteNumber, "", { skipAction: true, activityNumber: params.index }) if not params.changeLink
}) %}

{% if params.activityDetails.activityHeading %}

  {% set activityList %}
    <ul class="govuk-list govuk-list--bullet">
      {% for activity in params.activityDetails.activities %}
        <li>{{activity}}</li>
      {% endfor %}
    </ul>
  {% endset %}

  {% set _ = rows.push({
      key: { text: params.activityDetails.activityHeading},
      value: { html: activityList },
      actions: setSiteDetailsAction(true,  params.activityDetails.activityLink, params.siteNumber, "", { activityNumber: params.index }) if not params.changeLink
  }) %}
{% endif %}

{% set _ = rows.push({
    key: { text: "Activity description"},
    value: { html: appIncompleteField({text:params.activityDetails.activityDescription})},
    actions: setSiteDetailsAction(params.activityDetails.activityDescription, 'activity-description', params.siteNumber, "", { skipAction: true, activityNumber: params.index }) if not params.changeLink
}) %}

{% set _ = rows.push({
    key: { text: "Maximum duration of activity"},
    value: { html: appIncompleteField({text:params.activityDetails.activityDuration})},
    actions: setSiteDetailsAction(params.activityDetails.activityDuration, 'activity-duration', params.siteNumber, "", { skipAction: true, activityNumber: params.index }) if not params.changeLink
}) %}

{% set _ = rows.push({
    key: { text: "Completion date"},
    value: { html: appIncompleteField({text:params.activityDetails.completionDate})},
    actions: setSiteDetailsAction(params.activityDetails.completionDate, 'completion-date', params.siteNumber, "", { skipAction: true, activityNumber: params.index }) if not params.changeLink
}) %}

{% set _ = rows.push({
    key: { text: "Activity limited to specific months"},
    value: { html: appIncompleteField({text:params.activityDetails.activityMonths})},
    actions: setSiteDetailsAction(params.activityDetails.activityMonths, 'months-of-activity', params.siteNumber, "", { skipAction: true, activityNumber: params.index }) if not params.changeLink
}) %}

{% set _ = rows.push({
    key: { text: "Proposed working hours"},
    value: { html: appIncompleteField({text:params.activityDetails.workingHours})},
    actions: setSiteDetailsAction(params.activityDetails.workingHours, 'working-hours', params.siteNumber, "", { skipAction: true, activityNumber: params.index }) if not params.changeLink
}) %}


{% set cardActionItems = [] %}

{% if params.changeLink %}
  {% set _ = cardActionItems.push({
    href: params.changeLink,
    text: 'Change',
    visuallyHiddenText: 'site ' + params.siteNumber + ' activity ' + params.index + ' details',
    classes: 'govuk-link--no-visited-state'
  }) %}
{% endif %}

{% if params.deleteLink %}
  {% set _ = cardActionItems.push({
    href: params.deleteLink,
    text: 'Delete activity',
    classes: 'govuk-link--no-visited-state'
  }) %}
{% endif %}

{{ govukSummaryList({
  card: {
    attributes: {
      id: "activity-details-site-" + params.siteNumber + '-activity-' + params.index
    },
    title: {
      text: activityRowsHeading
    },
    actions: {
      items: cardActionItems
    }
  },
  classes: 'govuk-summary-list--full-width',
  rows: rows
}) }}