services:

  your-frontend:
    build: ./
    ports:
      - '3000:3000'
    env_file:
      - 'compose/aws.env'
    environment:
      PORT: 3000
      NODE_ENV: development
      USE_SINGLE_INSTANCE_CACHE: true
      MARINE_LICENSING_BACKEND_API_URL: http://marine-licensing-backend:3001
    networks:
      - cdp-tenant

networks:
  cdp-tenant:
    external: true
    driver: bridge
