{% extends 'layouts/page.njk' %}
{% from "marine-licence/other-permissions-card/macro.njk" import appMarineLicenceOtherPermissionsCard %}
{% from "marine-licence/application-details-card/macro.njk" import appMarineLicenceApplicationDetailsCard %}
{% from "marine-licence/project-details-card/macro.njk" import appMarineLicenceProjectDetailsCard %}
{% from "marine-licence/site-location-card/macro.njk" import appMarineLicenceSiteLocationCard %}
{% from "marine-licence/site-details-card/macro.njk" import appMarineLicenceSiteDetailsCard %}
{% from "marine-licence/activity-details-card/macro.njk" import appMarineLicenceActivityDetailsCard %}
{% from "marine-licence/water-framework-directive-card/macro.njk" import appMarineLicenceWaterFrameworkDirectiveCard %}
{% from "marine-licence/marine-plan-policies-card/macro.njk" import appMarineLicenceMarinePlanPoliciesCard %}

{% set rejectedReasonsOutput %}

  {% if rejectedReasons %}
    <ul class="govuk-list govuk-list--bullet">
    {% for reason in rejectedReasons %}
      <li>{{reason}}</li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if rejectedInformation %}
    <p class="govuk-body">{{ rejectedInformation }}</p>
  {% endif %}

{% endset %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% if pageCaption %}
        <span class="govuk-caption-l">{{ pageCaption }}</span>
      {% endif %}
      <h1 class="govuk-heading-l" id="view-details-heading">{{ pageTitle }}</h1>

      <p class="govuk-body">Check each answer and redact anything that must not appear on the public register. Replace whatever you redact with <span class="app-redaction-label">***REDACTED***</span>.</p>

      <div class="govuk-inset-text">
        <h2 class="govuk-heading-s">The information the applicant wants withheld and why.</h2>
        <p class="govuk-body">We would like two things withheld. First, the fees and financial figures in our proposed works summary, because they are commercially sensitive. A second operator is expected to bid for a concession in the same harbour next year, and if they can see what we are paying and what we expect to take they can pitch against us. Second, we would like the pontoon dimensions, the construction method and our working hours withheld. We spent two years getting this set-up right and we do not want another hire business copying it.</p>
      </div>

      {{ appMarineLicenceApplicationDetailsCard({
        statusTag: statusTag,
        isTransferred: isTransferred,
        isRejected: isRejected,
        applicationReference: applicationReference,
        rejectedDate: rejectedDate,
        rejectedReasons: rejectedReasonsOutput,
        transferredDate: transferredDate,
        withdrawnAt: withdrawnAt,
        submittedAt: submittedAt
      }) }}

      {{ appMarineLicenceProjectDetailsCard({
        projectBackground: projectBackground,
        isReadOnly: isReadOnly,
        preferredDates: preferredDates,
        enableRedaction: true,
        redactions: redactions,
        redactionSaveUrl: redactionSaveUrl,
        csrfToken: csrfToken
      }) }}

      {% if summaryData and summaryData.length %}
        {{ appMarineLicenceSiteLocationCard({
          coordinatesType: coordinatesType
        }) }}

        {% for site in summaryData %}
          {{ appMarineLicenceSiteDetailsCard({
            site: site,
            loopIndex0: loop.index0,
            coordinatesType: coordinatesType,
            cspNonce: cspNonce
          }) }}

          {% for activityDetails in site.activityDetails %}
            {{ appMarineLicenceActivityDetailsCard({
              activityDetails: activityDetails,
              siteNumber: site.siteNumber,
              index: loop.index,
              isReadOnly: true,
              isApplicant: false
            }) }}
          {% endfor %}
        {% endfor %}
      {% endif %}

      {{ appMarineLicenceMarinePlanPoliciesCard({
        policies: marinePlanPolicies,
        isApplicant: false,
        isReadOnly: true
      }) }}

      {{ appMarineLicenceWaterFrameworkDirectiveCard({
        waterFrameworkDirectiveData: waterFrameworkDirectiveData,
        isReadOnly: isReadOnly
      }) }}

      {{ appMarineLicenceOtherPermissionsCard({
        specialLegalPowers: specialLegalPowers,
        harbourAuthority: harbourAuthority,
        otherAuthorities: otherAuthorities,
        publicConsultation: publicConsultation,
        isReadOnly: isReadOnly
      }) }}

    </div>
  </div>
{% endblock %}
