{% extends 'layouts/page.njk' %}
{% from "marine-licence/other-permissions-card/macro.njk" import appMarineLicenceOtherPermissionsCard %}
{% from "marine-licence/application-details-card/macro.njk" import appMarineLicenceApplicationDetailsCard %}
{% from "marine-licence/project-details-card/macro.njk" import appMarineLicenceProjectDetailsCard %}
{% from "marine-licence/site-location-card/macro.njk" import appMarineLicenceSiteLocationCard %}
{% from "marine-licence/site-details-card/macro.njk" import appMarineLicenceSiteDetailsCard %}
{% from "marine-licence/activity-details-card/macro.njk" import appMarineLicenceActivityDetailsCard %}
{% from "marine-licence/water-framework-directive-card/macro.njk" import appMarineLicenceWaterFrameworkDirectiveCard %}
{% from "marine-licence/marine-plan-policies-card/macro.njk" import appMarineLicenceMarinePlanPoliciesCard %}
{% from "marine-licence/construction-drawing-card/macro.njk" import appMarineLicenceConstructionDrawingCard %}

{% set rejectedReasonsOutput %}

  {% if rejectedReasons %}
    <ul class="govuk-list govuk-list--bullet">
    {% for reason in rejectedReasons %}
      <li>{{reason}}</li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if rejectedInformation %}
    <p class="govuk-body">{{ rejectedInformation }}</p>
  {% endif %}

{% endset %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% if pageCaption %}
        <span class="govuk-caption-l">{{ pageCaption }}</span>
      {% endif %}
      <h1 class="govuk-heading-l" id="view-details-heading">{{ pageTitle }}</h1>

      <p class="govuk-body">Check each answer and redact anything that must not appear on the public register. Replace whatever you redact with <span class="app-redaction-label">***REDACTED***</span>.</p>

      {% if publicRegister.withholdConsent === 'yes' %}
        <div class="govuk-inset-text" id="applicant-withhold-reason">
          <h2 class="govuk-heading-s">The information the applicant wants withheld and why.</h2>
          <p class="govuk-body">{{ publicRegister.reason }}</p>
        </div>
      {% endif %}

      {{ appMarineLicenceApplicationDetailsCard({
        statusTag: statusTag,
        isTransferred: isTransferred,
        isRejected: isRejected,
        applicationReference: applicationReference,
        rejectedDate: rejectedDate,
        rejectedReasons: rejectedReasonsOutput,
        transferredDate: transferredDate,
        withdrawnAt: withdrawnAt,
        submittedAt: submittedAt
      }) }}

      {{ appMarineLicenceProjectDetailsCard({
        projectName: projectName,
        projectBackground: projectBackground,
        isReadOnly: isReadOnly,
        preferredDates: preferredDates,
        enableRedaction: true,
        redactions: redactions,
        marineLicenceId: marineLicenceId,
        redactionSaveUrl: redactionSaveUrl,
        csrfToken: csrfToken
      }) }}

      {% if summaryData and summaryData.length %}
        {{ appMarineLicenceSiteLocationCard({
          coordinatesType: coordinatesType
        }) }}

        {% for site in summaryData %}
          {% set siteIndex0 = loop.index0 %}
          {{ appMarineLicenceSiteDetailsCard({
            site: site,
            loopIndex0: loop.index0,
            coordinatesType: coordinatesType,
            cspNonce: cspNonce,
            enableRedaction: true,
            redactions: redactions,
            marineLicenceId: marineLicenceId,
            redactionSaveUrl: redactionSaveUrl,
            csrfToken: csrfToken
          }) }}

          {% for activityDetails in site.activityDetails %}
            {{ appMarineLicenceActivityDetailsCard({
              activityDetails: activityDetails,
              siteNumber: site.siteNumber,
              index: loop.index,
              siteIndex0: siteIndex0,
              activityIndex0: loop.index0,
              isReadOnly: true,
              isApplicant: false,
              enableRedaction: true,
              redactions: redactions,
              marineLicenceId: marineLicenceId,
              redactionSaveUrl: redactionSaveUrl,
              csrfToken: csrfToken
            }) }}

          {% endfor %}

          {{ appMarineLicenceConstructionDrawingCard({
            isReadOnly: true,
            enableRedaction: true,
            siteNumber: site.siteNumber,
            activityDetails: site.activityDetails,
            constructionDrawings: site.constructionDrawings,
            marineLicenceId: marineLicenceId,
            redactionSaveUrl: redactionSaveUrl,
            replaceDocumentUrl: replaceDocumentUrl,
            redactions: redactions,
            csrfToken: csrfToken
          }) }}

        {% endfor %}
      {% endif %}

      {{ appMarineLicenceMarinePlanPoliciesCard({
        policies: marinePlanPolicies,
        isApplicant: false,
        isReadOnly: true,
        enableRedaction: true,
        redactions: redactions,
        marineLicenceId: marineLicenceId,
        redactionSaveUrl: redactionSaveUrl,
        csrfToken: csrfToken
      }) }}

      {{ appMarineLicenceWaterFrameworkDirectiveCard({
        waterFrameworkDirectiveData: waterFrameworkDirectiveData,
        isReadOnly: isReadOnly,
        enableRedaction: true,
        redactions: redactions,
        marineLicenceId: marineLicenceId,
        redactionSaveUrl: redactionSaveUrl,
        replaceDocumentUrl: replaceDocumentUrl,
        csrfToken: csrfToken
      }) }}

      {{ appMarineLicenceOtherPermissionsCard({
        specialLegalPowers: specialLegalPowers,
        harbourAuthority: harbourAuthority,
        otherAuthorities: otherAuthorities,
        publicConsultation: publicConsultation,
        isReadOnly: isReadOnly,
        enableRedaction: true,
        redactions: redactions,
        marineLicenceId: marineLicenceId,
        redactionSaveUrl: redactionSaveUrl,
        csrfToken: csrfToken
      }) }}

    </div>
  </div>
{% endblock %}
