{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
    card: {
      title: {
        text: "Activity dates"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change"
          }
        ]
      } if not params.isReadOnly,
      attributes: {
        id: "activity-dates-card"
      }
    },
    rows: [
      {
        key: {
          text: "Start date"
        },
        value: {
          html: (params.activityDates and params.activityDates.start) | formatDate('d MMMM yyyy')
        }
      },
      {
        key: {
          text: "End date"
        },
        value: {
          html: (params.activityDates and params.activityDates.end) | formatDate('d MMMM yyyy')
        }
      }
    ]
  }) }}
