{% if index == 0 %}
<link href="/public/stylesheets/ol.css" rel="stylesheet">
{% endif %}
<div class="app-site-details-map" data-module="site-details-map" data-site-details='{{ siteDetailsData | safe }}'></div>
