{% if params.mcmsContext.pdfDownloadUrl %}
<p><a class="govuk-link" href="{{ params.mcmsContext.pdfDownloadUrl }}" target="_blank" rel="noopener noreferrer">View answers (opens in a new tab)</a></p>
{% endif %}
