{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
    card: {
      title: {
        text: "Project details"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change"
          }
        ]
      } if not params.isReadOnly,
      attributes: {
        id: "project-details-card"
      }
    },
    rows: [
      {
        key: {
          text: "Project name"
        },
        value: {
          html: params.projectName
        },
        attributes: {
          id: "project-name-row"
        }
      }
    ]
  }) }}
