{% extends "layouts/page.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "cancel-button/macro.njk" import appCancelButton %}
{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}
{% set detailsSummary = "Help with eastings and northings formats" %}
{% set detailsHTML %}
<p class="govuk-body">
  How accurate your eastings and northings coordinates are, depends on how many digits you use for each:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>2 + 2 digits (4 in total) - accurate to 1 square kilometre</li>
  <li>3 + 3 digits (6 in total) - accurate to 100 square metres</li>
  <li>4 + 4 digits (8 in total) - accurate to 10 square metres</li>
  <li>6 + 6 digits (12 in total) - accurate to 1 square metre</li>
</ul>
<p class="govuk-body">
  Some places further north, such as the Shetland Islands, may need 7 digits for the northing coordinate.
</p>
<p class="govuk-body">
  Enter 2 values, each with at least 6 digits - one for eastings and one for northings. For example, 123456, 654321.
</p>
<p class="govuk-body">
  Always enter eastings first, then northings, in their separate fields.
</p>
{% endset %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorSummary %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorSummary
        }) }}
      {% endif %}
      <span class="govuk-caption-l">{{ projectName }}</span>
      <h1 class="govuk-heading-l">{{ heading }}</h1>
      <p>Eastings and northings should only include numbers. For example: 123456, 654321.</p>
      {{ govukDetails({
        summaryText: detailsSummary,
        html: detailsHTML
      }) }}
      <form method="POST" class="govuk-grid-column-two-thirds">
        <div
          class="polygon-add-another"
          data-module="polygon-add-another"
          data-min-items="3"
          data-field-names="eastings,northings">
          <input type="hidden" name="csrfToken" value="{{ csrfToken }}">
            <h2 class="govuk-heading-m polygon-add-another__heading" tabindex="-1">
              Coordinate points
            </h2>
            {% set minCoords = 3 %}
            {% set coords = coordinates | default([]) %}
            {% set paddedCoords = coords %}
            {% if coords | length < minCoords %}
              {% set paddedCoords = coords + ([{eastings:'', northings:''}] * (minCoords - coords | length)) %}
            {% endif %}
            {% for coordinate in paddedCoords %}
              {% set i = loop.index0 %}
              {% set pointNumber = i + 1 %}
              {% set legendText %}
              {% if i == 0 %}Start and end point{% else %}Point {{ pointNumber }}
              {% endif %}
              {% endset %}
              {% set labelText %}
              {% if i == 0 %}
                of start and end point
              {% else %}
                of point {{ pointNumber }}
              {% endif %}
              {% endset %}
              <div class="polygon-add-another__item">
                {% call govukFieldset({
                legend: {
                  text: legendText,
                  classes: "govuk-fieldset__legend--s"
                }
              }) %}
                {% if i >= minCoords and loop.length > minCoords %}
                  {{ govukButton({
                    text: "Remove",
                    classes: "govuk-button--secondary polygon-add-another__remove-button",
                    attributes: {
                      name: "remove",
                      value: i,
                      type: "submit"
                    }
                  }) }}
                {% endif %}
                {{ govukInput({
                  id: "coordinates-" + i + "-eastings",
                  name: "coordinates[" + i + "][eastings]",
                  value: coordinate.eastings,
                  errorMessage: errors["coordinates" + i + "eastings"] if errors,
                  label: {
                    text: "Eastings " ~ labelText
                  },
                  attributes: {
                    "data-name": "coordinates[%index%][eastings]",
                    "data-id": "coordinates-%index%-eastings"
                  }
                }) }}
                {{ govukInput({
                  id: "coordinates-" + i + "-northings",
                  name: "coordinates[" + i + "][northings]",
                  value: coordinate.northings,
                  errorMessage: errors["coordinates" + i + "northings"] if errors,
                  label: {
                    text: "Northings " ~ labelText
                  },
                  attributes: {
                    "data-name": "coordinates[%index%][northings]",
                    "data-id": "coordinates-%index%-northings"
                  }
                }) }}
                {% endcall %}
              </div>
            {% endfor %}
            {{ govukButton({
            text: "Add another point",
            classes: "govuk-button--secondary polygon-add-another__add-button",
            attributes: {
              name: "add",
              value: "add",
              type: "submit"
            }
          }) }}
          </div>
          <div class="govuk-button-group govuk-!-margin-top-8">
            {{ govukButton({
            text: "Continue",
            attributes: {
              id: "continue"
            }
          }) }}
            {{ appCancelButton({
            cancelLink: "/exemption/task-list?cancel=site-details"
          }) }}
          </div>
        </form>
      </div>
    </div>
  {% endblock %}