{% extends "layouts/multiple-coordinates-template.njk" %}

{% set fieldNames = "latitude,longitude" %}
{% set firstCoordinate = "latitude" %}
{% set secondCoordinate = "longitude" %}


{% set detailsSummary = "Help with latitude and longitude formats" %}

{% set detailsHTML %}
<p class="govuk-body">
  Latitude and longitude can be written in different formats, including:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>decimal degrees (DD) - 55.019889 or -1.399500</li>
  <li>degrees, minutes and seconds (DMS) - 55°01'11.6"N 1°23'58.2"WE</li>
  <li>degrees and decimal minutes (DMM) - 55° 1.19334', 1° 23.97'</li>
</ul>
<p class="govuk-body">
  Enter coordinates in decimal degree (DD) format only.
</p>
<p class="govuk-body">
  Latitude ranges from -90 to 90, and longitude ranges from -180 to 180. Always enter latitude first, then longitude, in
  their separate fields.
</p>
{% endset %}

{% set introText %} 
  Enter in the decimal degree format. For example, 55.019889 or -1.399500.
{% endset %}

