{% from "govuk/components/button/macro.njk" import govukButton %}

<h1 class="govuk-heading-xl">{{ heading }}</h1>

{% if body %}
  <div class="govuk-body">{{ body | safe }}</div>
{% endif %}

<div class="app-iat-actions">
  {% if hasContinue %}
    {{ govukButton({
      text: ctaLabel,
      href: continueUrl or "#",
      classes: "govuk-!-margin-right-3"
    }) }}
  {% endif %}
</div>

{% if viewAnswersUrl %}
  <p class="govuk-body">
    <a class="govuk-link"
       href="{{ viewAnswersUrl }}"
       target="_blank"
       rel="noopener noreferrer">
      View answers (opens in a new tab)
    </a>
  </p>
{% endif %}
