{% from "govuk/components/button/macro.njk" import govukButton %}

<h1 class="govuk-heading-xl">{{ heading }}</h1>

{% for option in options %}
  <div class="app-iat-option govuk-!-margin-bottom-6">
    <h2 class="govuk-heading-m">Option {{ loop.index }}{% if option.heading %} - {{ option.heading }}{% endif %}</h2>
    {% if option.text %}
      <div class="govuk-body">{{ option.text | safe }}</div>
    {% endif %}
    {% if option.ctaHref %}
      {{ govukButton({
        text: option.ctaLabel,
        href: option.ctaHref,
        classes: "govuk-!-margin-bottom-2"
      }) }}
    {% endif %}
    {% if option.viewAnswersUrl %}
      <p class="govuk-body">
        <a class="govuk-link"
           href="{{ option.viewAnswersUrl }}"
           target="_blank"
           rel="noopener noreferrer">
          View answers (opens in a new tab)
        </a>
      </p>
    {% endif %}
  </div>
{% endfor %}
