{% extends "layouts/page.njk" %}

{% block beforeContent %}
  {{ appBackLink({ backLink: backLink }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if classification == 'intermediate' %}
        {% include "journey/self-service/outcome/_intermediate.njk" %}
      {% elif classification == 'terminal-single' %}
        {% include "journey/self-service/outcome/_terminal-single.njk" %}
      {% else %}
        {% include "journey/self-service/outcome/_terminal-multi.njk" %}
      {% endif %}
    </div>
  </div>
{% endblock %}
