{% extends 'layouts/page.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "cancel-button/macro.njk" import appCancelButton %}

{% block beforeContent %}
  {{ super() }}
  <nav>
    {{ govukBackLink({
      text: "Back",
      href: backLink
    }) }}
  </nav>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{heading}}</h1>

      {{ govukInsetText({
        text: 'Site ' + siteNumber
      }) }}

      <form method="POST">
        <input type="hidden" name="csrfToken" value="{{csrfToken}}">
        <input type="hidden" name="siteIndex" value="{{siteIndex}}">

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Yes, delete site",
            preventDoubleClick: true,
            classes: "govuk-button--warning",
            type: "submit",
            attributes: {
              "data-module": "govuk-button"
            }
          }) }}

          {{ appCancelButton({
            cancelLink: routes.REVIEW_SITE_DETAILS
          }) }}
        </div>
      </form>

    </div>
  </div>
{% endblock %}
