{% extends 'layouts/page.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/task-list/macro.njk" import govukTaskList %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if projectName %}
        <span class="govuk-caption-l">{{type}}</span>
      {% endif %}
      {% if projectName %}
        <h1 class="govuk-heading-l">
          {{ projectName }}
        </h1>
      {% endif %}
      <p class="govuk-body">You must complete each section before you can send us your information.</p>
      <p class="govuk-body">You can still make changes to a section, even after it is marked as completed.</p>
      <p class="govuk-body govuk-!-margin-bottom-7">If you cannot finish now, you can come back later, your progress will be
        saved.</p>
      {{ govukTaskList({
          idPrefix: "task-list",
          items: taskList
        }) }}
      {% if hasCompletedAllTasks %}
        {{ govukButton({
            text: "Review and send your information",
            href: "/exemption/check-your-answers",
            attributes: {
                id: "review-and-send"
            }
        }) }}
      {% endif %}
    </div>
  </div>
{% endblock %}
