{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "site-details-map/macro.njk" import appSiteDetailsMap %}

{% set cardTitle %}
  {% if params.multipleSiteDetails and params.multipleSiteDetails.multipleSitesEnabled %}
    Site {{ params.siteNumber }} details
  {% else %}
    Site details
  {% endif %}
{% endset %}

{% set siteDetailsRows = [] %}

{% if params.multipleSiteDetails and params.multipleSiteDetails.multipleSitesEnabled %}
  {% set siteDetailsRows = (siteDetailsRows.push({
    key: {
      text: "Site name"
    },
    value: {
      text: params.siteDetails.siteName
    }
  }), siteDetailsRows) %}
{% endif %}

{% if params.siteDetails.showActivityDates %}
  {% set siteDetailsRows = (siteDetailsRows.push({
    key: {
      text: "Activity dates"
    },
    value: {
      text: params.siteDetails.activityDates
    }
  }), siteDetailsRows) %}
{% endif %}

{% if params.siteDetails.showActivityDescription %}
  {% set siteDetailsRows = (siteDetailsRows.push({
    key: {
      text: "Activity description"
    },
    value: {
      text: params.siteDetails.activityDescription
    }
  }), siteDetailsRows) %}
{% endif %}

{% set siteDetailsRows = (siteDetailsRows.push({
  key: {
    text: "Single or multiple sets of coordinates"
  },
  value: {
    html: params.siteDetails.reviewSummaryText
  }
},{
  key: {
    text: "Coordinate system"
  },
  value: {
    html: params.siteDetails.coordinateSystemText | replace('\n', '<br> ')
  }
},{
  key: {
    text: "Coordinates at centre of site"
  },
  value: {
    html: params.siteDetails.coordinateDisplayText
  }
},{
  key: {
    text: "Width of circular site"
  },
  value: {
    html: params.siteDetails.circleWidth + " metres"
  }
},{
  key: {
    text: "Map view"
  },
  value: 
  { 
    html: appSiteDetailsMap(params.siteDetails.siteDetailsData, params.siteNumber - 1), 
    classes: "govuk-summary-list__value--full-width" 
  }
}), siteDetailsRows) %}

{{ govukSummaryList({
    card: {
      title: {
        text: cardTitle
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change"
          }
        ]
      } if not params.isReadOnly,
      attributes: {
        id: "site-details-card"
      }
    },
    rows: siteDetailsRows
  }) }}
