{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
    card: {
      title: {
        text: "Site details"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change"
          }
        ]
      } if not params.isReadOnly,
      attributes: {
        id: "site-details-card"
      }
    },
    rows: [
      {
        key: {
          text: "Method of providing site location"
        },
        value: {
          html: params.siteDetails.reviewSummaryText
        }
      },
      {
        key: {
          text: "Coordinate system"
        },
        value: {
          html: params.siteDetails.coordinateSystemText | replace('\n', '<br> ')
        }
      },
      {
        key: {
          text: "Coordinates at centre of site"
        },
        value: {
          html: params.siteDetails.coordinateDisplayText
        }
      },
      {
        key: {
          text: "Width of circular site"
        },
        value: {
          html: params.siteDetails.circleWidth + " metres"
        }
      },
      {
        key: {
          text: "Map view"
        },
        value: {
          html: '<div class="app-site-details-map" data-module="site-details-map"></div>'
        }
      }
    ]
  }) }}
