{% if params.orgOrUserName %}
<div class="app-border-bottom govuk-!-padding-top-2 govuk-!-padding-bottom-2">
  <span class="govuk-body-s govuk-!-font-weight-bold govuk-!-padding-right-1">{{ params.orgOrUserName }}</span>
  {%  if params.showChangeOrganisationLink %}
  <a href="/change-organisation">Change who you’re representing</a>
  {% endif %}
</div>
{% endif %}
