{% if params.applicantOrganisationName %}
<div class="app-border-bottom govuk-!-padding-top-2 govuk-!-padding-bottom-2">
  <span class="govuk-body-s govuk-!-font-weight-bold">{{ params.applicantOrganisationName }}</span>
</div>
{% endif %}
