{% extends "govuk/template.njk" %}

{# Import GOVUK components globally #}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{# Import custom components globally #}
{% from "heading/macro.njk" import appHeading %}
{% from "back-link-history/macro.njk" import appBackLinkHistory %}
{% from "back-link/macro.njk" import appBackLink %}
{% from "organisation-heading/macro.njk" import appOrganisationHeading %}
{% from "contact-details/macro.njk" import appContactDetails %}
{% from "survey-link/macro.njk" import appSurveyLink %}

{% set mainClasses = "app-main-wrapper" %}

{% block head %}
  <link href="{{ getAssetPath('stylesheets/application.scss') }}" rel="stylesheet">
  {% if clarityProjectId or enableBrowserLogging %}
    <script nonce='{{ cspNonce }}'>
      {% if clarityProjectId %}
      window.CLARITY_PROJECT_ID = "{{ clarityProjectId }}";
      window.ANALYTICS_ENABLED = {{ analyticsEnabled | dump }};
      {% endif %}
      {% if enableBrowserLogging %}
      window.ENABLE_BROWSER_LOGGING = {{ enableBrowserLogging }};
      {% endif %}
    </script>
  {% endif %}

  <noscript>
    <style>
      .hide-if-no-js {display:none !important;}
    </style>
  </noscript>

{% endblock %}

{% block headerStart %}
  {% include "partials/cookie-banner.njk" %}
{% endblock %}

{% block govukHeader %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    classes: "govuk-header--full-width-border",
    serviceUrl: serviceUrl
  }) }}
{% endblock %}

{% block govukServiceNavigation %}
  {{ govukServiceNavigation({
    serviceName: serviceName,
    serviceUrl: serviceUrl,
    navigation: navigation
  }) }}
{% endblock %}

{% block pageTitle %}
  {% if errors %}
    Error:
  {% endif %}
  {{ pageTitle }} - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% if breadcrumbs.length > 1 %}
    {{ govukBreadcrumbs({
      items: breadcrumbs
    }) }}
  {% endif %}
<div role="complementary">
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
      },
    html: 'This is a new service. Help us improve it and <a class="govuk-link govuk-link--no-visited-state" target="_blank" rel="noopener noreferrer" href="' + surveyUrls.midJourney + '">give your feedback (opens in new tab)</a>.'
  }) }}
  </div>
  {{ appOrganisationHeading({
    orgOrUserName: commonPageViewData.orgOrUserName,
    showChangeOrganisationLink: commonPageViewData.showChangeOrganisationLink
  }) }}
{% endblock %}

{% block content %}{% endblock %}

{% block govukFooter %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "/help/privacy",
          text: "Privacy"
        },
        {
          href: "/help/cookies",
          text: "Cookies"
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ getAssetPath('application.js') }}"></script>
{% endblock %}
