{% extends 'layouts/page.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "cancel-button/macro.njk" import appCancelButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set headingWithCaption %}
    {% if projectName %}
        <span class="govuk-caption-l">{{ projectName }}</span>
    {% endif %}
    <h1 class="govuk-heading-l govuk-!-margin-bottom-0">{{ heading }}</h1>
{% endset %}

{% block beforeContent %}
{{ super() }}
<nav>
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
</nav>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% if errors %}
          {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: errorSummary
          }) }}
        {% endif %}

      <form method="POST" action="{{ routes.WIDTH_OF_SITE }}">

        <input type="hidden" name="csrfToken" value="{{ csrfToken }}">
        
        {{ govukInput({
          label: {
            html: headingWithCaption,
            classes: "govuk-label--l"
          },
          id: "width",
          name: "width",
          value: payload.width,
          suffix: {
            text: "metres"
          },
          classes: "govuk-input--width-5",
          errorMessage: errors.width,
          inputmode: "numeric"
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
              text: "Save and continue",
              classes: "govuk-button--primary"
          }) }}

          {{ appCancelButton({
            cancelLink: "/exemption/task-list?cancel=site-details"
          }) }}
        </div>
        
      </form>
    </div>
  </div>
{% endblock %} 