{% extends 'layouts/page.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "application-details-card/macro.njk" import appApplicationDetailsCard %}
{% from "project-details-card/macro.njk" import appProjectDetailsCard %}
{% from "site-location-card/macro.njk" import appSiteLocationCard %}
{% from "activity-details-card/macro.njk" import appActivityDetailsCard %}
{% from "site-details-card/macro.njk" import appSiteDetailsCard %}
{% from "public-register-card/macro.njk" import appPublicRegisterCard %}

{% block beforeContent %}
  {{ super() }}
  {%  if backLink %}
  <nav>
    {{ govukBackLink({
          text: "Back",
          href: backLink
      }) }}
  </nav>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

    {% if pageCaption %}
      <span class="govuk-caption-l">{{ pageCaption }}</span>
    {% endif %}

    <h1 class="govuk-heading-l" id="view-details-heading">{{ pageTitle }}</h1>
    {{ appApplicationDetailsCard({
      applicationReference: applicationReference,
      dateSubmitted: submittedAt,
      whoExemptionIsFor: whoExemptionIsFor,
      status: status,
      statusTagClass: statusTagClass,
      withdrawnAt: withdrawnAt
    }) }}
    {% if mcmsContext and mcmsContext.activity %}
    {{ appProjectDetailsCard({
      mcmsContext: mcmsContext,
      isReadOnly: isReadOnly,
      isApplicantView: isApplicantView
    }) }}
    {% endif %}

    {{ appSiteLocationCard({
      siteLocationData: siteLocationData,
      isReadOnly: isReadOnly
    }) }}

    {{ appActivityDetailsCard({
      activityDetailsData: siteLocationData,
      isReadOnly: isReadOnly
    }) }}

    {% for site in siteDetails %}
    {{ appSiteDetailsCard({
      siteDetails: site,
      siteNumber: site.siteNumber,
      multipleSiteDetails: multipleSiteDetails,
      isReadOnly: isReadOnly
    }) }}
    {% endfor %}
    {{ appPublicRegisterCard({
      publicRegister: publicRegister,
      isReadOnly: isReadOnly,
      isApplicantView: isApplicantView,
      changeLink: publicRegisterRoute
    }) }}

    </div>
  </div>
{% endblock %}
