{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ heading }}</h1>
    </div>
  </div>  


<div class="govuk-grid-row">
      <ul class="card-group">

        <li class="govuk-grid-column-one-half-from-desktop card-group__item">
          <a href="/admin/emp" class="card card--clickable">
            <h2 class="govuk-heading-m card__heading">
              Exemptions not sent to EMP
            </h2>
          </a>
        </li>


        <li class="govuk-grid-column-one-half-from-desktop card-group__item">
          <a href="/admin/backfill-areas" class="card card--clickable">
            <h2 class="govuk-heading-m card__heading">
              Exemptions without Marine Plan or Coastal Operations Areas
            </h2>
          </a>
        </li>

      </ul>
</div>

{% endblock %}
