{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% if params.activityDetailsData and params.activityDetailsData.multipleSitesEnabled %}

{% set activityRows = [
  {
    key: {
      text: "Are the activity dates the same for every site?"
    },
    value: {
      text: params.activityDetailsData.sameActivityDates
    }
  }
] %}

{% if params.activityDetailsData.activityDates %}
  {% set activityRows = (activityRows.push({
    key: {
      text: "Activity dates"
    },
    value: {
      text: params.activityDetailsData.activityDates
    }
  }), activityRows) %}
{% endif %}

{% set activityRows = (activityRows.push({
  key: {
    text: "Is the activity description the same for every site?"
  },
  value: {
    text: params.activityDetailsData.sameActivityDescription
  }
}), activityRows) %}

{% if params.activityDetailsData.activityDescription %}
  {% set activityRows = (activityRows.push({
    key: {
      text: "Activity description"
    },
    value: {
      text: params.activityDetailsData.activityDescription
    }
  }), activityRows) %}
{% endif %}

{{ govukSummaryList({
  card: {
    title: {
      text: "Activity details"
    },
    actions: {
      items: [
        {
          href: params.changeLink,
          text: "Change",
          classes: "govuk-link--no-visited-state"
        }
      ]
    } if not params.isReadOnly,
    attributes: {
      id: "activity-details-card"
    }
  },
  rows: activityRows
}) }}

{% endif %}
