{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
    card: {
      title: {
        text: "Activity details"
      },
      attributes: {
        id: "activity-details-card"
      }
    },
    rows: [
      {
        key: {
          text: "Activity description"
        },
        value: {
          html: params.activityDescription
        },
        classes: "",
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "activity description"
            }
          ]
        } if not params.isReadOnly
      }
    ]
  }) }}
