.app-site-details-map {
  width: 100%;
  aspect-ratio: 3 / 2;
  border: 1px solid #b1b4b6;

  .ol-zoom {
    top: auto;
    left: auto;
    bottom: 1.5em;
    right: .5em;
    background: none;

    .ol-zoom-in {
      margin-bottom: .5em;
    }
  }
}
