{% extends 'layouts/page.njk' %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Application complete",
        html: "Your reference number<br><strong>" + applicationReference + "</strong>"
      }) }}
      <p class="govuk-body">We have sent you a confirmation email with your reference number.</p>
      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body">You can complete your activity within the dates you provided.</p>
      <p class="govuk-body">
        <a href="https://defragroup.eu.qualtrics.com/jfe/form/SV_8p5Cle8p7Yov9FI" class="govuk-link" rel="noopener noreferrer">What did you think of this service? (takes 30 seconds)</a>
      </p>
    </div>
  </div>
{% endblock %}
