{% extends 'layouts/page.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/task-list/macro.njk" import govukTaskList %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if projectName %}
        <span class="govuk-caption-l">{{projectName}}</span>
      {% endif %}
        <h1 class="govuk-heading-l">Marine licence start page</h1>
      <p class="govuk-body">You need to complete all sections before sending your application. Your progress will be saved as you go if you need to come back later.</p>
      <p class="govuk-body">You can start the Marine plan policy section once you have completed the site details section.</p>

      <h2 class="govuk-heading-m">Project details</h2>
      {{ govukTaskList({
          idPrefix: "project-details-task-list",
          items: projectDetailsTaskList
        }) }}
      <h2 class="govuk-heading-m">Site details and activities</h2>
      {{ govukTaskList({
          idPrefix: "site-details-task-list",
          items: siteDetailsTaskList
        }) }}

          {% if otherPermissionsTaskList | length %}
        <h2 class="govuk-heading-m">Other permissions</h2>
         {{ govukTaskList({
          idPrefix: "other-permissions-task-list",
          items: otherPermissionsTaskList
        }) }}
        {% endif %}
        
        {% if hasCompletedAllTasks %}
          {{ govukButton({
            text: "Review and send your information",
            href: "/marine-licence/check-your-answers",
            attributes: {
                id: "review-and-send"
            }
          }) 
        }}
      {% endif %}
    </div>
  </div>
{% endblock %}
