@use 'govuk-frontend' as *;

.app-redaction-field [hidden] {
  display: none;
}

.app-redaction-field,
.app-withhold-location__form {
  .govuk-button-group {
    align-items: start;
  }
}

.app-redaction-field__panel {
  .govuk-button-group {
    align-items: baseline;
  }
}

.govuk-button-group .app-redaction-field__trigger {
  margin-bottom: 0;
}

.app-redaction-label {
  background: govuk-colour('black');
  color: govuk-colour('white');
  font-weight: $govuk-font-weight-bold;
}

.app-redaction-inset {
  border-left: 5px solid $govuk-border-colour;
  padding-left: 15px;
}

.app-copy-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: govuk-spacing(1);
  fill: currentcolor;
  width: 16px;
  height: 16px;
}
