{% extends 'layouts/page.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "Enter a descriptive name to help you find your project later"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <form method="POST">
          {{ govukInput({
            label: {
              text: "Project name"
            },
            id: "projectName",
            name: "projectName"
          }) }}

          {{ govukButton({
            text: "Save and continue",
            classes: "govuk-button--primary"
          }) }}
        </form>
      </div>
    </div>
  </div>

{% endblock %}
