{% extends 'layouts/page.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "cancel-button/macro.njk" import appCancelButton %}
{% block beforeContent %}
{{ super() }}
<nav>
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
</nav>
{% endblock %}

{% set headingWithCaption %}
    {% if projectName %}
        <span class="govuk-caption-l">{{ projectName }}</span>
    {% endif %}
    {% if siteNumber %}
      <span class="govuk-caption-l">Site {{ siteNumber }}</span>
    {% endif %}
    <h1 class="govuk-heading-l govuk-!-margin-bottom-0">Activity description</h1>
{% endset %}


{% set variableHintText %}
  {% if isMultiSiteJourney %}
    {% if siteNumber %} at this site{% else %} at all sites{% endif %}
  {% endif %}
{% endset %}

{% set hintText %}
    <p>Briefly describe what you'll do{{ variableHintText }}, how you'll do it, and why.</p>
    <p>For example, 'Collect a 0.1 cubic metre seabed sample by day grab from a workboat for particle size analysis'.</p>
{% endset %}


{% set buttonText %}
  {% if isSiteDetailsFlow %}
    Continue
  {% else %}
    Save and continue
  {% endif %}
{% endset %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorSummary
        }) }}
      {% endif %}
      <form method="POST">
        <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>
          {{ govukTextarea({
          id: "activityDescription",
          name: "activityDescription",
          value: payload.activityDescription,
          rows: 8,
          label: {
            html: headingWithCaption,
            classes: "govuk-label--l"
          },
          hint: {
            html: hintText
          },
          errorMessage: errors['activityDescription']
        }) }}
        <div class="govuk-button-group">
          {{ govukButton({
              text: buttonText,
              classes: "govuk-button--primary"
            }) }}
          {{ appCancelButton({
                cancelLink: '/exemption/task-list'
            }) }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}