{% from "moj/components/filter/macro.njk" import mojFilter %}
{%- from "govuk/components/button/macro.njk" import govukButton -%}

{%- set filterHtml %}

  {{ govukButton({
    text: "Clear filters",
    href: '/projects',
    classes: "govuk-button--secondary govuk-!-margin-left-3 moj-filter__clear"
  }) }}

  {{params.optionsHtml | safe}}
{% endset -%}


<div class="moj-filter-layout__filter">
  {{ mojFilter({
    heading: {
      text: params.heading or "Filter"
    },
    submit: params.submit or {
      attributes: {
        "data-test-id": "submit-button"
      }
    },
    selectedFilters: params.selectedFilters,
    optionsHtml: filterHtml
  }) }}
</div>
