{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% if params.waterFrameworkDirectiveData.nauticalMile %}
{% set rows = [] %}

{% set rows = (rows.push({
  key: params.waterFrameworkDirectiveData.nauticalMile.key,
  value: params.waterFrameworkDirectiveData.nauticalMile.value
}), rows) %}

{% if params.waterFrameworkDirectiveData.excludedActivities %}
    {% set rows = (rows.push(params.waterFrameworkDirectiveData.excludedActivities), rows) %}
{% endif %}

{% if params.waterFrameworkDirectiveData.uploadedFile %}
    {% set rows = (rows.push(params.waterFrameworkDirectiveData.uploadedFile), rows) %}
{% endif %}

{{ govukSummaryList({
  card: {
    title: {
      text: "Water Framework Directive assessment"
    },
    attributes: {
      id: "water-framework-directive-card"
    },
    actions: {
      items: [
        {
          href: params.changeLink ~ "?from=check-your-answers",
          text: "Change",
          visuallyHiddenText: " water framework directive assessment",
          classes: "govuk-link--no-visited-state"
        }
      ]
    } if not params.isReadOnly
  },
  rows: rows
}) }}
{% endif %}
