{% extends "layouts/coordinate-template.njk" %}

{% set detailsSummary %}
Help with latitude and longitude formats
{% endset %}

{% set detailsHTML %}
    <p>Latitude and longitude can be written in different formats, including: </p>
    <ul class="govuk-list govuk-list--bullet">
        <li>decimal degrees (DD) - 55.019889 or -1.399500</li>
        <li>degrees, minutes and seconds (DMS) - 55°01'11.6"N 1°23'58.2"WE</li>
        <li>degrees and decimal minutes (DMM) - 55° 1.19334', 1° 23.97'</li>
    </ul>
    <p>Enter coordinates in decimal degree (DD) format only.</p>
    <p>Latitude ranges from -90 to 90, and longitude ranges from -180 to 180. Always enter latitude first, then longitude, in their separate fields.</p> 
{% endset %}

{% block introText %}
    <p>Enter in the decimal degree format. For example, 55.019889 or -1.399500.</p>
{% endblock %} 

{% block coordinateFields %}
    {{ govukInput({
        label: {
            text: "Latitude"
        },
        id: "latitude",
        name: "latitude",
        value: payload.latitude,
        errorMessage: errors.latitude,
        classes: "govuk-!-width-one-half"
    }) }}

    {{ govukInput({
        label: {
            text: "Longitude"
        },
        id: "longitude",
        name: "longitude",
        value: payload.longitude,
        errorMessage: errors.longitude,
        classes: "govuk-!-width-one-half"
    }) }}
{% endblock %} 