{% extends 'layouts/page.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Your session has timed out</h1>
      <p class="govuk-body">
        Any answers will be saved for 24 hours. To resume, you need to go back to the start.
      </p>
      {{ govukButton({
        text: "Return to start",
        href: startUrl
      }) }}
    </div>
  </div>
{% endblock %}
