{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set siteDetailsRows = [
  {
    key: {
      text: "Method of providing site location"
    },
    value: {
      html: params.siteDetails.reviewSummaryText
    }
  },
  {
    key: {
      text: "Coordinate system"
    },
    value: {
      html: params.siteDetails.coordinateSystemText | replace('\n', '<br> ')
    }
  }
] %}

{% for coordinate in params.siteDetails.polygonCoordinates %}
  {% set siteDetailsRows = (siteDetailsRows.push({
    key: {
      text: coordinate.label
    },
    value: {
      text: coordinate.value
    }
  }), siteDetailsRows) %}
{% endfor %}

{% set siteDetailsRows = (siteDetailsRows.push({
  key: {
    text: "Map view"
  },
  value: {
    html: '<div class="app-site-details-map" data-module="site-details-map"></div>'
  }
}), siteDetailsRows) %}

{{ govukSummaryList({
    card: {
      title: {
        text: "Site details"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change"
          }
        ]
      } if not params.isReadOnly,
      attributes: {
        id: "site-details-card"
      }
    },
    rows: siteDetailsRows
  }) }}
