<svg class="app-copy-button__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" focusable="false" aria-hidden="true">
    <path d="M10 1H2a1 1 0 0 0-1 1v9h1.5V2.5H10V1z"/>
    <path d="M13 4H5a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1zm-.5 9.5h-7v-8h7v8z"/>
</svg>