.moj-add-another .govuk-fieldset {
  position: relative;
}

.moj-add-another .govuk-form-group {
  clear: both;
}

.moj-add-another .govuk-fieldset .govuk-fieldset__legend {
  position: relative;
  float: left;
  padding: 4px 100px 4px 0;
  width: 100%;
}

.moj-add-another .govuk-fieldset .govuk-button {
  position: absolute;
  right: 0;
}
