{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
    card: {
      title: {
        text: "Site details"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change"
          }
        ]
      },
      attributes: {
        id: "site-details-card"
      }
    },
    rows: [
      {
        key: {
          text: "Method of providing site location"
        },
        value: {
          html: siteDetails.method
        }
      },
      {
        key: {
          text: "File type"
        },
        value: {
          html: siteDetails.fileType
        }
      },
      {
        key: {
          text: "File uploaded"
        },
        value: {
          html: siteDetails.filename
        }
      },
      {
        classes: "govuk-summary-list__row--full-width",
        key: {
          text: "Map view",
          classes: "govuk-summary-list__key--full-width"
        },
        value: {
          html: '<div class="app-site-details-map" data-module="site-details-map"></div>',
          classes: "govuk-summary-list__value--full-width"
        }
      }
    ],
    classes: "govuk-summary-list--full-width"
  }) }}
