{% extends 'layouts/page.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "project-details-card/macro.njk" import appProjectDetailsCard %}
{% from "site-location-card/macro.njk" import appSiteLocationCard %}
{% from "activity-details-card/macro.njk" import appActivityDetailsCard %}
{% from "site-details-card/macro.njk" import appSiteDetailsCard %}
{% from "public-register-card/macro.njk" import appPublicRegisterCard %}

{% block head %}
  {{ super() }}
{% endblock %}
{% block beforeContent %}
  {{ super() }}
  <nav>
    {{ govukBackLink({
        text: "Go back to your project",
        href: backLink
    }) }}
  </nav>
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if projectName %}
        <span class="govuk-caption-l">{{ projectName }}</span>
      {% endif %}

    <h2 class="govuk-heading-l" id="check-your-answers-heading">Check your answers before sending your information</h2>
    {% if mcmsContext %}
    {{ appProjectDetailsCard({
      projectName: projectName,
      mcmsContext: mcmsContext,
      isReadOnly: isReadOnly
    }) }}
    {% endif %}
    
    {{ appSiteLocationCard({
      siteLocationData: siteLocationData,
      changeLink: siteLocationData.changeLink,
      isReadOnly: isReadOnly
    }) }}

    {{ appActivityDetailsCard({
      activityDetailsData: siteLocationData,
      changeLink: activityDetailsChangeLink,
      isReadOnly: isReadOnly
    }) }}

    {% for site in siteDetails %}
    {{ appSiteDetailsCard({
      siteDetails: site,
      siteNumber: site.siteNumber,
      changeLink: reviewSiteDetailsRoute + "?from=check-your-answers#site-details-" + site.siteNumber,
      multipleSiteDetails: multipleSiteDetails,
      siteDetailsData: siteDetailsData,
      isReadOnly: isReadOnly
    }) }}
    {% endfor %}
    {{ appPublicRegisterCard({
      publicRegister: publicRegister,
      isReadOnly: isReadOnly
    }) }}
    <form method="post">
      <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>
      <h2 class="govuk-heading-m">Now send your information</h2>
      <p class="govuk-body">By submitting this information you are confirming that, to the best of your knowledge, the details
        you are providing are correct.</p>
      {{ govukButton({
            text: "Confirm and send",
            attributes: {
              id: "confirm-and-send"
            }
          }) }}
      </form>
    </div>
  </div>
{% endblock %}
