@use 'govuk-frontend' as *;

.app-iat-option {
  border: $govuk-border-width solid $govuk-border-colour;
  padding: govuk-spacing(4);

  > :last-child {
    margin-bottom: 0;
  }
}

.app-iat-option__actions {
  margin-top: govuk-spacing(3);

  form {
    display: inline-block;
  }
}
