{% extends 'layouts/page.njk' %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "cancel-button/macro.njk" import appCancelButton %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backLink
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            
            <span class="govuk-caption-l">{{ projectName }}</span>
            <h1 class="govuk-heading-l">{{ heading }}</h1>

            {{ govukSummaryList({
                card: {
                    title: {
                        text: "Site details"
                    }
                },
                rows: [
                    {
                        key: {
                            text: "Method of providing site location"
                        },
                        value: {
                            text: summaryData.method
                        }
                    },
                    {
                        key: {
                            text: "Coordinate system"
                        },
                        value: {
                            html: summaryData.coordinateSystem | replace('\n', '<br>')
                        }
                    },
                    {
                        key: {
                            text: "Coordinates at centre of site"
                        },
                        value: {
                            text: summaryData.coordinates
                        }
                    },
                    {
                        key: {
                            text: "Width of circular site"
                        },
                        value: {
                            text: summaryData.width
                        }
                    }
                ]
            }) }}
            
            <form method="POST">
                <input type="hidden" name="csrfToken" value="{{csrfToken}}">
                                
                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Save and continue",
                        attributes: {
                            id: "continue"
                        }
                    }) }}

                    {{ appCancelButton({
                        cancelLink: "/exemption/task-list?cancel=site-details"
                    }) }}
                </div>
            </form>
            
        </div>
    </div>
{% endblock %} 