{% extends 'layouts/page.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "cancel-button/macro.njk" import appCancelButton %}
{% from "site-details-map/macro.njk" import appSiteDetailsMap %}
{% from "incomplete-field/macro.njk" import appIncompleteField %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block beforeContent %}
  {{ super() }}
    <nav>
        {{ govukBackLink({
        text: "Back",
        href: backLink
    }) }}
    </nav>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <span class="govuk-caption-l">{{ projectName }}</span>
            <h1 class="govuk-heading-l">{{ heading }}</h1>

            {% set multipleSiteRows = [
                {
                    key: {
                        text: "Method of providing site location"
                    },
                    value: {
                        text: multipleSiteDetailsData.method
                    }
                },
                {
                    key: {
                        text: "More than one site"
                    },
                    value: {
                        html: multipleSiteDetailsData.multipleSiteDetails
                    }
                }
            ] %}

            {{ govukSummaryList({
                card: {
                    title: {
                        text: "Providing the site location"
                    },
                    actions: {
                        items: [
                            {
                                href: "delete-all-sites",
                                text: "Delete all site details",
                                classes: "govuk-link--no-visited-state"
                            }
                        ]
                  },
                attributes: {
                    id: "site-location-card"
                }
                },
                classes: 'govuk-summary-list--full-width',
                rows: multipleSiteRows
            }) }}

            {% if isMultiSiteJourney %}

                {% set activityRows = [
                    {
                        key: {
                            text: "Are the activity dates the same for every site?"
                        },
                        value: {
                            text: multipleSiteDetailsData.sameActivityDates
                        },
                        actions: setSiteDetailsAction(multipleSiteDetailsData.sameActivityDates, 'same-activity-dates')
                    }
                ] %}

                {% if multipleSiteDetailsData.activityDates %}
                    {% set activityRows = (activityRows.push({
                        key: {
                            text: "Activity dates"
                        },
                        value: {
                            text: multipleSiteDetailsData.activityDates
                        },
                        actions: setSiteDetailsAction(multipleSiteDetailsData.activityDates, 'activity-dates')
                    }), activityRows) %}
                {% endif %}

                {% set activityRows = (activityRows.push({
                    key: {
                        text: "Is the activity description the same for every site?"
                    },
                    value: {
                        html: multipleSiteDetailsData.sameActivityDescription
                    },
                    actions: setSiteDetailsAction(multipleSiteDetailsData.sameActivityDescription, 'same-activity-description')
                }), activityRows) %}

                {% if multipleSiteDetailsData.activityDescription %}
                    {% set activityRows = (activityRows.push({
                        key: {
                            text: "Activity description"
                        },
                        value: {
                            text: multipleSiteDetailsData.activityDescription
                        },
                        actions: setSiteDetailsAction(multipleSiteDetailsData.activityDescription, 'activity-description')
                    }), activityRows) %}
                {% endif %}

                {{ govukSummaryList({
                    card: {
                        title: {
                            text: "Activity details"
                        },    attributes: {
                            id: "activity-details-card"
                        }
                    },
                    rows: activityRows
                }) }}

            {% endif %}

         {% for site in summaryData %}

            {% set summaryRows = [] %}

            {% set summaryRowsHeading %}
                {% if isMultiSiteJourney %}
                    Site {{ site.siteNumber }} details
                {% else %}
                    Site details
                {% endif %}
            {% endset %}

            {% if isMultiSiteJourney %}
                {% set _ = summaryRows.push({
                    key: { text: "Site name"},
                    value: { html: appIncompleteField({text: site.siteName})},
                    actions: setSiteDetailsAction(site.siteName, 'site-name', site.siteNumber)
                }) %}
            {% endif %}

            {% if site.showActivityDates %}
                {% set _ = summaryRows.push({
                key: { 
                    text: "Activity dates"
                },
                value: { 
                    html: appIncompleteField({text: site.activityDates})
                },
                actions: setSiteDetailsAction(site.activityDates, 'activity-dates', site.siteNumber)
                }) %}
            {% endif %}

            {% if site.showActivityDescription %}
                {% set summaryRows = (summaryRows.push({
                    key: {
                        text: "Activity description"
                    },
                    value: { 
                        html: appIncompleteField({ text: site.activityDescription })
                    },
                    actions: setSiteDetailsAction(site.activityDescription, 'activity-description', site.siteNumber)
                }), summaryRows) %}
            {% endif %}

           {% set summaryRows = (summaryRows.push({
                key: {
                    text: "Single or multiple sets of coordinates"
                },
                value: {
                    html: appIncompleteField({ text: site.method })
                },
                actions: setSiteDetailsAction(site.method, 'how-do-you-want-to-enter-the-coordinates', site.siteNumber)
            },{
                key: {
                    text: "Coordinate system"
                },
                value: {
                    html: appIncompleteField({ text: site.coordinateSystem | replace('\n', '<br>') | safe })
                },
                actions: setSiteDetailsAction(site.coordinateSystem, 'what-coordinate-system', site.siteNumber)
            }), summaryRows) %}

            {% if site.polygonCoordinates %}
                {# Polygon site - multiple coordinates #}
                {% for coordinate in site.polygonCoordinates %}
                    {% set summaryRows = (summaryRows.push({
                        key: {
                            text: coordinate.label
                        },
                        value: {
                            text: coordinate.value
                        }
                    }), summaryRows) %}
                {% endfor %}
            {% else %}
                {# Circular site - single coordinate and width #}
                {% set summaryRows = (summaryRows.push({
                    key: {
                        text: "Coordinates at centre of site"
                    },
                    value: {
                        html: appIncompleteField({ text: site.coordinates })
                    },
                    actions: setSiteDetailsAction(site.coordinates, 'enter-the-coordinates-at-the-centre-point', site.siteNumber)
                }), summaryRows) %}
                
                {% set summaryRows = (summaryRows.push({
                    key: {
                        text: "Width of circular site"
                    },
                    value: {
                        html: appIncompleteField({ text: site.width })
                    },
                    actions: setSiteDetailsAction(site.width, 'width-of-site', site.siteNumber)
                }), summaryRows) %}

            {% endif %}
            {# Add map view row for all coordinate types #}
            {% set summaryRows = (summaryRows.push({
                key: {
                    text: "Map view"
                },
                value: {
                    html: appSiteDetailsMap(site.siteDetailsData, loop.index0),
                    classes: "govuk-summary-list__value--full-width"
                }
            }), summaryRows) %}

            {{ govukSummaryList({
                card: {
                    attributes: {
                        id: "site-details-" + site.siteNumber
                    },
                    title: {
                        text: summaryRowsHeading
                    },
                    actions: {
                        items: [
                            {
                                href: "delete-site?site=" + site.siteNumber,
                                text: "Delete site",
                                classes: 'govuk-link--no-visited-state',
                                visuallyHiddenText: "for site " + site.siteNumber
                            }
                        ]
                    }
                },
                rows: summaryRows,
                classes: 'govuk-summary-list--full-width'
            }) }}

            {% endfor %}


            <form method="POST">
                <input type="hidden" name="csrfToken" value="{{ csrfToken }}">

                    {% if isMultiSiteJourney %}
                        {{ govukButton({
                            text: "Add another site",
                            classes: "govuk-button--secondary govuk-!-margin-bottom-7",
                            attributes: {
                                name: "add",
                                value: "add",
                                type: "submit"
                            }
                        }) }}

                        <p>The site details you've provided are saved. You can return to this page and make changes at any time before you send your information.</p>

                    {% endif %}

                    <div class="govuk-button-group">
                        {{ govukButton({
                        text: "Continue",
                        attributes: {
                            id: "continue"
                        }
                    }) }}
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}
