{% extends 'layouts/page.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "cancel-button/macro.njk" import appCancelButton %}

{% block beforeContent %}
  {{ super() }}
  <nav>
    {{ govukBackLink({
      text: "Back",
      href: backLink
    }) }}
  </nav>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">{{ projectName }}</span>
      <h1 class="govuk-heading-l">{{ heading }}</h1>

      {% set drawingActivityList %}
        <ul class="govuk-list govuk-list--bullet">
          {% for label in drawingRequiringActivityLabels %}<li>{{ label | lower }}</li>{% endfor %}
        </ul>
      {% endset %}

      {{ govukInsetText({
        html: 'You only need construction drawings for:' + drawingActivityList
      }) }}

      <form method="POST">
        <input type="hidden" name="csrfToken" value="{{ csrfToken }}">
        <input type="hidden" name="site" value="{{ siteNumber }}">
        <input type="hidden" name="activity" value="{{ activityDetailsNumber }}">
        <input type="hidden" name="activityType" value="{{ activityType }}">
        <input type="hidden" name="activitySubType" value="{{ activitySubType }}">

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Yes, change activity",
            preventDoubleClick: true,
            classes: "govuk-button--warning",
            type: "submit",
            attributes: {
              "data-module": "govuk-button"
            }
          }) }}

          {{ appCancelButton({
            cancelLink: cancelLink
          }) }}
        </div>
      </form>

    </div>
  </div>
{% endblock %}
