{% extends 'layouts/page.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "cancel-button/macro.njk" import appCancelButton %}

{% block beforeContent %}
{{ super() }}
<nav>
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
</nav>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{ projectName }}</span>
      <h1 class="govuk-heading-l">{{ heading }}</h1>
      
      <h2 class="govuk-heading-m">Before you start</h2>
      <p>In the next step, you'll need to provide the following for every site:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>site name</li>

        {% if isExemption %}
          <li>the exact location of the site</li>
          <li>the dates the activity will take place</li>
          <li>a description of the activity</li>
        {% endif %}

        {% if isMarineLicence %}
          <li>type of activity, for example construction</li>
          <li>category of activity, for example maintenance construction</li>
          <li>a drawing or plan for new construction, alteration or improvement works - not including maintenance</li>
          <li>activity description and methodology - a step-by-step explanation of how you will carry out the activity</li>
          <li>maximum duration of the activity</li>
          <li>schedule of when the activity will take place</li>
          <li>possible impacts of the activity and ways to reduce them</li>
        {% endif %}

      </ul>

      <h2 class="govuk-heading-m">Providing site locations</h2>
      <p>You can provide site locations in 2 ways:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>upload a shapefile or KML file with the coordinates</li>
        <li>enter the coordinates manually</li>
      </ul>

      <h3 class="govuk-heading-s">Projects with multiple sites</h3>
      <p>You need to give separate location details for each site if your project has multiple sites.</p>
      <p>If you're uploading a file you need to include all the sites in 1 file.</p>

      <h2 class="govuk-heading-m">Defining the site boundary</h2>
      <p>The coordinates must mark the full boundary of every site, including space for any movement or small changes in the activity location.</p>
      <p>Your file must only contain sites drawn as polygons (shapes), not points or lines.</p>

      {% if isMarineLicence %}
        <h2 class="govuk-heading-m">Providing construction drawings or plans</h2>

      <p class="govuk-body">You must upload construction drawings for a site if any of your activities there involve:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>construction of new marine works</li>
        <li>alteration or improvement, including extending, of existing marine works</li>
      </ul>

      <p class="govuk-body">You do not need drawings for any other activities, including maintenance. Your drawings must show what you plan to build or change at the site. You can upload more than one drawing for each site.</p>

      <p class="govuk-body">Only upload drawings that show the work you're telling us about in this application. If a drawing is part of a larger document, upload only the pages that show this work. Do not upload full project plans or documents that cover other work.</p>

      <p class="govuk-body">Your drawings do not need to be produced by an architect or other professional. A simple, clear drawing is fine. If you already have drawings from an architect, engineer or contractor, you can use those.</p>

      <p class="govuk-body">Each drawing must:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>be a PDF or image (.bmp, .gif, .jpg, .jpeg, .png, .tif)</li>
        <li>be no larger than 10MB</li>
        <li>say whether or not it's drawn to scale</li>
      </ul>

      <p class="govuk-body">If we approve your application, your drawings may be attached to your licence. This means they should be clear enough for anyone to understand.</p>
      {% endif %}
      {% if isExemption %}
        <p class="govuk-body">If the activity happens outside the marked boundary, it will not be covered by the exemption.</p>
      {% endif %}
      
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue",
          href: continueLink
        }) }}
        
        {{ appCancelButton({
          cancelLink: cancelLink
        }) }}
      </div>
    </div>
  </div>
{% endblock %} 